img {
  width: auto;
  height: auto;
  display: block;
}
/*===============
ABOUT SECTION STYLES HERE
 ===========================  */
#about-us {
  background: rgb(230, 230, 230);
}
#about-us .about-wrapper {
  padding: 150px 0;
  background: rgb(240, 240, 240);
}

/*===============
 COUSTOMER FEEDBACK SECTION STYLES HERE
 ===========================  */
#customer-feedback {
  background: #ffffff;
}
#customer-feedback .feedbak-wrapper {
  padding-top: 190px;
  padding-bottom: 90px;
}
#customer-feedback .feedbak-wrapper .heading {
  padding-bottom: 90px;
}
#customer-feedback .feedbak-wrapper .customer img {
  margin: auto;
}
#customer-feedback .feedback {
  text-align: center;
  width: 100%;
}
#customer-feedback .feedbak-wrapper .feedback .headingh3 {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #1d1b28;
  margin-top: 50px;
  margin-bottom: 25px;
}
#customer-feedback .feedbak-wrapper .feedback .designation {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7f7f31;
  margin-bottom: 25px;
  text-transform: uppercase;
}
#customer-feedback .feedbak-wrapper .feedback p {
  margin-bottom: 25px;
  color: #080707;
}

#customer-feedback .feedback h3.headingh3 {
  text-align: center;
  color: #080707;
}
#customer-feedback .feedback h3.headingh3 {
  text-align: center;
  color: #080707;
}
#customer-feedback .feedback p {
  text-align: center;
  color: #080707;
}
#customer-feedback .feedback img {
  width: auto;
  height: auto;
  display: block;
  margin: auto;
}

/*===============
 CONTACT FORM STYLES HERE
 ===========================  */
#contact {
  background: #516603;
}
#contact .contact-wrapper {
  padding-top: 90px;
  padding-bottom: 55px;
}
#contact .heading {
  padding-bottom: 75px;
  color: #ffffff;
}
#contact .heading span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding-bottom: 30px;
  color: #080707;
}
#contact .contanct-form form {
  width: 100%;
  height: 100%;
}

#contact .contanct-form form input,
#contact .contanct-form form textarea {
  width: 100%;
  height: 100%;
  padding: 25px 30px;
  display: inline-block;
  margin-bottom: 35px;
  border: none;
  outline: none;
  border-radius: 30px;
}
#contact .contanct-form form textarea {
  margin-bottom: 0px;
}
#contact .button {
  font-family: "Poppins" sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
  height: auto;
  max-width: 200px;
  margin-top: 50px;
  background: hsl(0, 100%, 52%);
  transition: all 0.4s linear;
}
#contact .button:hover {
  background: hsl(56, 97%, 56%);
}
/*===============
 FOOTER SECTION STYLES HERE 
 ============================*/
#footer .footer-top {
  padding: 120px 0px 70px 0px;
  background: #252525;
}
#footer .subcribe {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

#footer .subcribe input[type="email"] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 25px 30px;
  line-height: initial;
  transition: 0.3s linear;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 13px;
  color: #494848;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
#footer .subcribe input::placeholder {
  text-transform: capitalize;
  color: #494848;
}
#footer .subcribe button.button {
  display: block;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 4;
  width: 100%;
  height: 50px;
  max-width: 150px;
  max-height: 40px;
  margin: 0;
  padding: 24px 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #020000;
  background: #ffff00;
  text-align: center;
  transition: 0.3s linear;
  transform: translateY(-100%);
  font-size: 13px;
  line-height: 0.5;
}
#footer .footer-body {
  margin-top: 70px;
}
#footer .footer-body .single-column h3.headingh3 {
  margin-bottom: 50px;
}
#footer .single-column.item-01 p {
  font-family: "Lato";
  font-size: 17px;
  font-weight: 400;
  color: #fefefe;
}
#footer .single-column ul > li > a {
  font-family: "Lato";
  font-size: 17px;
  font-weight: 400;
  color: #fefefe;
  text-decoration: none;
}
#footer .single-column ul > li:hover > a {
  color: #ffff00;
}
#footer .single-column a.logo {
  margin-top: -22px;
  margin-bottom: 30px;
}

#footer .single-column .footer-logo a.logo img {
  width: auto;
  height: auto;
  display: inline;
}
.footer-copyright-body {
  background: #7a772d;
}
.footer-copyright-body p {
  color: #ffffff;
  padding: 25px 0px;
}
